.student1 {
    position: absolute;
    background-image: url('../../assets/pictures/Admin bg.png');
    margin-bottom: 3px;
    width: 100vw; /* 100% of viewport width */
    background-size: cover;
    background-position: center;
      height: 87vh;
      
   
  }